# Verify user email:
#   git config --get user.email

# Verify gitconfig origin:
#   git config --list --show-origin

[includeIf "gitdir/i:~/.config/"]
  path = ~/.config/dotfiles/dotfiles/configs/.gitconfig_oss

[includeIf "gitdir/i:~/codebase/github/"]
  path = ~/.config/dotfiles/dotfiles/configs/.gitconfig_oss

[includeIf "gitdir/i:~/codebase/work/"]
  path = ~/.config/dotfiles/dotfiles/configs/.gitconfig_wix
