# Verify user email:
#   git config --get user.email

# Verify gitconfig origin:
#   git config --list --show-origin

[alias]
  pulls = !bash -c 'git stash && git pull && git stash pop'
  # pulls = !bash -c 'echo $SHELL'

[includeIf "gitdir/i:~/.config/"]
  path = ~/.config/dotfiles/dotfiles/configs/.gitconfig_oss

[includeIf "gitdir/i:~/codebase/github/"]
  path = ~/.config/dotfiles/dotfiles/configs/.gitconfig_oss

[includeIf "gitdir/i:~/codebase/work/"]
  path = ~/.config/dotfiles/dotfiles/configs/.gitconfig_wix
