#!/bin/bash

service() {
  cur=${pwd}
  cd ${DOCKER_FILES}

  case "$1" in
          list)
              make list
              ;;

          run)
              make run DIR=$2
              ;;

          build)
              make build DIR=$2
              ;;

          push)
              make push DIR=$2
              ;;

          clean)
              make clean DIR=$2
              ;;

          help)
              make help
              ;;

          *)
              echo $"Usage: $0 {run|build|push|clean|help}"
              ;;
  esac

  cd ${cur}
}

# Create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}

# Determine size of a file or total size of a directory
fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh
	else
		local arg=-sh
	fi
	# shellcheck disable=SC2199
	if [[ -n "$@" ]]; then
		du $arg -- "$@"
	else
		du $arg -- .[^.]* *
	fi
}